.topics{
    border:.5px solid white;
    background:lightgray;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    padding:15px;
    margin:auto;
    margin-top:2%;
    width:100%;
    overflow: hidden;
}
a {
    text-decoration: none;
    cursor:pointer;
}
.topic{
    padding: 6px;
    text-align: center;
    color: #eee;
    height: 60px;
    width: 80%;
    background-color: #607D8B;
    border-radius: 2px;
    border-style:double;
    display: inline-block;
}
.topics input {
    width: 90%;
    line-height:2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
}
.mod-buttons{
    float:right;
}
.mod {
    height: 50%;
    width: 100%;
    margin-top:6px;
    background-color: gray !important;
    color:white;
    font-family: Arial;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
.mod:hover{
    background-color: white !important;
    color:gray;
}
.list{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 90%;
}
.list li {
    position: relative;
    left:0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 3em;
    border-radius: 4px;
}
.list .text{
    font-size: 24px;
}
button.delete {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
}