.forums{
    border:.5px solid white;
    background:lightgray;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    padding:15px;
    margin:auto;
    margin-top:2%;
    width:100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.col-1-4 {
    width: 25%;
}
.forum{
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
    border-style:double;
}
.forum:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}
.new{
    border-style: dashed;
}