.overview{
    border:.5px solid white;
    background:lightgray;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    padding:15px;
    margin:auto;
    width:90%;
}
.overview h1{
    text-align: center;
    font-size: 50px;
    clear:both;
}
.overview button{
    background: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:50px;
    width:200px;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: gray;
    font-size: 20px;
    margin:auto;
    display:block;
}
.overview button:hover:enabled {
    background-color: deepskyblue;
    color: white;
}
.overview button:disabled{
    background-color: lightgray;
}