<a (click)="goBack()"><< Volver</a>
<div class="topics">
    <h2>Temas para aprobar</h2>
    <h5 *ngIf="!topics || topics?.length == 0">No hay temas en este momento.</h5>
    <a *ngFor="let topic of topics">
        <div class="topic-container">
            <div class="topic">
                <h4>{{topic.title}}</h4>
            </div>
            <div class="mod-buttons">
                <button class="mod"
                        (click)="approve(topic); $event.stopPropagation()"><img width="18px" height="18px" src="ForumApp/app/imgs/approve.png" /></button>
                <button class="mod"
                        (click)="disapprove(topic); $event.stopPropagation()"><img width="18px" height="18px" src="ForumApp/app/imgs/disapprove.png" /></button>
            </div>
        </div>
    </a>
</div>
<div *ngIf="editable" class="topics">
    <h2>Moderadores del foro</h2>
    <h5 *ngIf="!moderators || moderators?.length == 0">No hay moderadores en este momento.</h5>
    <input type="text" [(ngModel)]="modNew"><a (click)="lookFor()"><img width="32px" height="32px" src="ForumApp/app/imgs/search.png"/></a>
    <br>
    <ul class="list">
        <li *ngFor="let user of usersList">
        <span class="text"><strong>{{user.username}}</strong></span>
        <button class="delete"
            (click)="addMod(user); $event.stopPropagation()">+</button>
        </li>
    </ul>
    <br>----------------------------
    <ul class="list">
        <li *ngFor="let mod of moderators">
            <span class="text"><strong>{{mod.username}}</strong></span>
            <button class="delete"
            (click)="removeMod(mod); $event.stopPropagation()">x</button>
        </li>
    </ul>
</div>